<?php if (!defined('AUTH_TOKEN')) header ('HTTP/1.0 404 Not found');
    // Substitute {path} with local path of the project is & rename this file to settings.php
    define ('RUTA_CONEXION', '{path}');

?>
